.Search-input  {
    border-bottom: 1px solid #ccc;
}
.Search-input > div {
    margin: 0 10px 10px 10px;
}

.Search-input input{
    border-bottom: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 8px;
    width: 100%;
}